
.containerSelected{
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 20.2rem;
  height: 18rem;
  max-width: 50rem;
  padding: 0.5rem 2rem;
  background-color: #2fd8fade;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;

  .buttonSelected{
    margin-top: 0.5rem;
    width: 80%;
    padding: 1rem;
    border-radius: 4rem;
    border: none;
    background-color: white;
    color: #8a8989;
    font-size: 15px;
    cursor: pointer;
  }


}





.container {
    max-width: 50rem;
    padding: 0.5rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px  #E1E1E1;


    .subcontainer1{
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .notShopping{
        width: auto;
        padding: 0 1rem;
        height: 2rem;
        display: flex;
        border-radius: 15px;
        background-color: #EDEDED;
        justify-content: space-between;
        align-items: center;
        color: #6d6d6d
      }

      .imagen{
        height: 25px;
        width: 30px;
        margin-left: 0.1rem;
      }
    }


    .subcontainer2{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      img{
        height: 10rem;
        width: 16rem;
        border-bottom: solid 1px #A0A0A0;
        background-color: red;
      }

      p{
        margin-top: 1rem;
        color: #C4C4C4;
        font-size: 13px;
      }

      h5{
        margin-bottom: 1rem;
        color: #929292;
        font-size: 15px;
        font-weight: 500;
      }
    }


    .subcontainer2Selected{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      img{
        height: 10rem;
        width: 16rem;
        border-bottom: solid 1px #A0A0A0;
        background-color: red;
      }

      p{
        margin-top: 1rem;
        color: #C4C4C4;
        font-size: 13px;
      }

      h5{
        margin-bottom: 1rem;
        color: #929292;
        font-size: 15px;
        font-weight: 500;
      }
    }

  }
  
  