
.container {
  background-color: #F9F9F9;
  padding: 2rem 10rem;
}

.subContainerArriba{
  display: flex;
  border-bottom: 1px solid #A0A0A0;
}

.subContainerAbajo{
  margin-top: 4rem;
  display: flex;
  border-bottom: 1px solid #A0A0A0;
}
