

.container {
  max-width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(4,auto); //la cantidad de columnas que tiene el grid : 4 columnas de tamaño auto
  grid-gap: 20px 3px; //Espaciado entre las cartas

}
