
  .buttonSelected{
    margin-top: 0.5rem;
    width: 80%;
    padding: 1rem;
    border-radius: 4rem;
    border: none;
    background-color: white;
    color: #8a8989;
    font-size: 15px;
    cursor: pointer;
  }

  
  .buttonSelected:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  }