.container {
   width: 100vw;
   height: 100vh;
   background-image: url('../../assets/fondoLanding2.png');
   background-size: cover;

   button {
      position: absolute;
      top: 35rem;
      left: 3rem;
      width: 100px;
      height: 70px;
      cursor: pointer;
      border-radius: 15px;
      border: none;
      background-color: #58C0C6;
      color: rgba(255, 255, 255, 0.901);
      font-size: 18px;
      font-weight: 500;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: 1s ease-in-out;
   }


   button:hover {
      transition: 1s ease-in-out;
      background: #7B87BA;
      color: white
   }


}